* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Just Another Hand", cursive;

}

body{
    background: var(--white);
    transition: 0.2s linear;
}

body.escuro{
    background: var(--low-greenb);
}

.conteudo {
    max-width: 1440px;
    margin: auto;
    padding: 20px;
    width: 100%;
    text-align: center;
    min-height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
}

:root {
    --light-green: #E4E6D9;
    --green: #C0CFB2;
    --dark-green: #648A70;
    --white: #fff;
    --low-green: #45624E;
    --low-greenb: rgb(69, 98, 78, 0.6);
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    height: 50px;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}


ul li {
    position: relative;
    right: 60px;
    font-size: 30px;
    display: inline-block;
    margin: 0 10px; 
    padding: 10px 30px;
    margin-bottom: 0;
    background: var(--green);
    border-radius: 25px;
    letter-spacing: 5px;
}

.escuro ul li {
    background: var(--low-green);
}

.escuro .inicio{
    background: var(--dark-green);
}

nav a {
    text-decoration: none;
    margin: 10px;
    color: var(--white);

}

.logo-inicio{
    position: relative;
    z-index: 3;
    top: 170px;
    left: 5px;
}

.logo{
    width: 100px;
    height: auto;
    max-width: 120px;
    width: auto;
}

.conteudos{
    display: flex;
    align-items: flex-start; 
    padding: 0;
    margin: 0;
}

.inicio{
    font-size: 40px;
    position: relative;
    top: 70px;
    left: -80px;
    background: var(--light-green);
    padding: 30px 35px;
    margin: 10px 5px;
    border-radius: 25px;
    margin: 20px 0; 
    margin-left: -20px;
    margin-bottom: 0;
    display: inline-block;
    z-index: 3;    
}

.menu-items {
    position: relative;
    top: 5px;
    left: -10px;
    
}

.aceso-apagado{
    border: none;
    font-size: 10px;
    background: var(--green);
    color: var(--white);
    letter-spacing: 5px;
    padding: 15px 5px;
    border-radius: 25px;
}

.escuro .aceso-apagado{
    background: var(--low-green);
    color: var(--white);
}

.imagens {
    display: grid;
    place-items: center;
    width: 100%;
}

.titulo{
    position: relative;
    top: 250px;
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 7;
    padding: 10px; 
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 2px;
    color: var(--white);
    margin-top: -440px;
}

.animais{
    max-width: 700px;
    width: auto;
    position: absolute;
    top: 37%;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
    height: auto;
    z-index: 5;
}

.animais2{
    max-width: 700px;
    width: auto;
    position: absolute;
    top: 37%;
    bottom: 0;
    left: 3%;
    right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
    height: auto;
    z-index: 6;
}

.escuro .animais{
    max-width: 700px;
    width: auto;
    position: absolute;
    top: 42%;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
    height: auto;
    z-index: 5;
}

.escuro .animais2{
    max-width: 700px;
    width: auto;
    position: absolute;
    top: 48%;
    bottom: 0;
    left: 3%;
    right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
    height: auto;
    z-index: 6;
}
.botoes {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
    text-align: center;
    top: 190px;
}

.botao {
    display: inline-block;
    font-size: 25px;
    margin: 10px;
    padding: 7px 100px;
    border-radius: 35px;
    transition: background-color 0.3s;
    background-color: var(--green);
    color: var(--dark-green);
    border: none;
    cursor: pointer;
}

.escuro .botao{
    background-color: var(--low-green);
    color: var(--white);
}

.fundo {
    grid-area: 1 / 1;
    max-width: 1440px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fundo2 {
    grid-area: 1 / 1;
    max-width: 1440px; 
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
}

 @media (min-width: 1440px) {
    .fundo, .fundo2 {
        background-size: 1440px auto;
    }
}